<div v-if="prompts[currentPromptIndex] != undefined">
    <p class="title">{{prompts[currentPromptIndex]}}</p>

    <div v-if="me.state == 0">
        <input type="text" @keyup.enter="handleAnswer()" v-model="answer" class="form-control" placeholder="Enter your answer">
    </div>
</div>